<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Math League</title>
</head>
<body>
    <a class="back" href="/account">← account</a>
    <main>
        <h1>Leaderboard</h1>
        <!-- <hr> -->
        <section id="leaderboard">
            <div>
                <span></span>
                <span>rank</span>
                <span>Points</span>
                <span>Username</span>
                <span>Solved</span>
                <span>Hardest Problem</span>
            </div>
            <hr style="width: 100%">
            <% for (const user of users) { %>
                <div>
                    <span>#</span>
                    <span><%= user.rank %> </span>
                    <span><%= user.points %></span>
                    <span><a class="no-style" href="/account?username=<%= encodeURIComponent(user.username) %>"><%= user.username %></a></span>
                    <span><%= user.problemsSolved %> </span>
                    <span><%= user.hardestProblem.name %><%= user.hardestProblem.difficulty != 0 ? ` (${user.hardestProblem.difficulty})` : '' %></span>
                </div>
            <% } %>
    </main>
    <script>
        const back = document.querySelector('.back');
        (async () => {
            try {
                const response = await fetch('/auth-status/check', {
                    headers: { 'Content-Type': 'application/json' }
                });

                if (response.ok) {
                    const data = await response.json();
                    if (!data.isAuthenticated) {
                        back.innerHTML = '← home';
                        back.href = '/home';
                    }
                } else {
                    console.log(response.message);
                }
            } catch (error) {
                console.error(error);
            }
        })();
    </script>
</body>
</html>