<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Math League</title>
</head>
<body>
    <a class="back" href="/account">← account</a>
    <main>
        <h1>Problems</h1>
        <hr>
        <p class="center" style="margin: 0">What will you solve today?</p>
        <section style="display: flex; width: 100%; flex-direction: column">
            <% const groupedDifficulty = problems.reduce((acc, problem) => { %>
                <% const { difficulty } = problem; %>
                <% if (!acc[difficulty]) acc[difficulty] = []; %>
                <% acc[difficulty].push(problem); %>
                <% return acc; %>
            <% }, {}); %>
            <% for (const [difficulty, group] of Object.entries(groupedDifficulty)) { %>
                <div style="margin: 1.75em 0">
                    <h2 class="center"><span style="color: #929292">difficulty: </span><%= difficulty %></h2>
                    <table class="problems">
                        <% for (const problem of group) { %>
                            <tr>
                                <td><a href="/problems/<%= problem.id %>"><%= problem.name %></a></td>
                                <td><%= problem.creatorName %></td>
                                <td><%= (new Date(problem.timeCreated)).toLocaleDateString(undefined, { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            <% } %>
        </section>
    </main>
    <script>
        const back = document.querySelector('.back');
        (async () => {
            try {
                const response = await fetch('/auth-status/check', {
                    headers: { 'Content-Type': 'application/json' }
                });

                if (response.ok) {
                    const data = await response.json();
                    if (!data.isAuthenticated) {
                        back.innerHTML = '← home';
                        back.href = '/home';
                    }
                } else {
                    console.log(response.message);
                }
            } catch (error) {
                console.error(error);
            }
        })();
    </script>
</body>
</html>